<div class="item-details-container">
  <h2>{{ 'addNewItem.addItem' | translate }}</h2>
  <form (ngSubmit)="onSubmit()" class="item-form">
    <div class="form-group">
      <label for="firstName">{{ 'addNewItem.firstName' | translate }}:</label>
      <input
        id="firstName"
        [ngModel]="firstName()"
        (ngModelChange)="firstName.set($event)"
        name="firstName"
        class="form-control"
        placeholder="{{ 'addNewItem.enterFirstName' | translate }}">
      @if (!isFirstNameValid()) {
      <div class="error-message">
        {{ 'addNewItem.firstNameRequired' | translate }}
      </div>
      }
    </div>

    <div class="form-group">
      <label for="lastName">{{ 'addNewItem.lastName' | translate }}:</label>
      <input
        id="lastName"
        [ngModel]="lastName()"
        (ngModelChange)="lastName.set($event)"
        name="lastName"
        class="form-control"
        placeholder="{{ 'addNewItem.enterLastName' | translate }}">
      @if (!isLastNameValid()) {
      <div class="error-message">
        {{ 'addNewItem.lastNameRequired' | translate }}
      </div>
      }
    </div>

    <div class="form-group">
      <label for="email">{{ 'addNewItem.email' | translate }}:</label>
      <input
        id="email"
        [ngModel]="email()"
        (ngModelChange)="email.set($event)"
        name="email"
        class="form-control"
        type="email"
        placeholder="{{ 'addNewItem.enterEmail' | translate }}">
    </div>

    <div class="button-group">
      <button type="button" (click)="goBack()" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> {{ 'button.back' | translate }}
      </button>
      <button type="submit" [disabled]="!isFormValid()" class="btn btn-primary">
        <i class="fa-solid fa-check"></i> {{ 'button.save' | translate }}
      </button>
    </div>
  </form>
</div>
