<div class="item-details-container">
  <h2>{{ 'addNewItem.addItem' | translate }}</h2>
  <form (ngSubmit)="onSubmit()" class="item-form">
    <div class="form-group">
      <label for="name">{{ 'addNewItem.name' | translate }}:</label>
      <input
        id="name"
        [ngModel]="name()"
        (ngModelChange)="name.set($event)"
        name="name"
        class="form-control"
        placeholder="{{ 'addNewItem.enterName' | translate }}">
      @if (!isNameValid()) {
      <div class="error-message">
        {{ 'addNewItem.nameRequired' | translate }}
      </div>
      }
    </div>

    <div class="form-group">
      <label for="description">{{ 'addNewItem.description' | translate }}:</label>
      <input
        id="description"
        [ngModel]="description()"
        (ngModelChange)="description.set($event)"
        name="description"
        class="form-control"
        placeholder="{{ 'addNewItem.enterDescription' | translate }}">
      @if (!isDescriptionValid()) {
      <div class="error-message">
        {{ 'addNewItem.descriptionRequired' | translate }}
      </div>
      }
    </div>

    <div class="button-group">
      <button type="button" (click)="goBack()" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> {{ 'button.back' | translate }}
      </button>
      <button type="submit" [disabled]="!isFormValid()" class="btn btn-primary">
        <i class="fa-solid fa-check"></i> {{ 'button.save' | translate }}
      </button>
    </div>
  </form>
</div>
