<div class="search-container">
  <div class="search-header">
    <label for="search-box" class="search-label">
      <i class="fas fa-search"></i>
      {{ 'itemSearch.itemSearch' | translate }}
    </label>
    <input
      id="search-box"
      #searchBox
      (input)="search(searchBox.value)"
      placeholder="{{ 'itemSearch.searchPlaceholder' | translate }}"
      class="search-input"
    />
  </div>
  <ul class="search-results">
    @for (item of items(); track item.id) {
      <li class="result-item">
        <a routerLink="/detail/{{item.id}}" class="item-link">
          <div class="item-card">
            <div class="item-avatar">{{item.name.charAt(0)}}</div>
            <div class="item-info">
              <span class="item-name">{{item.name}}</span>
              <span class="item-id">#{{item.id}}</span>
            </div>
            <i class="fas fa-chevron-right arrow-icon"></i>
          </div>
        </a>
      </li>
    }
  </ul>
</div>